body {
    background-attachment: fixed;
    margin: 0;
    background-color:#1b4147; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* INÍCIO HEADER */
.header {
    background-color: #A0CAD1;
    Background-image: linear-gradient( rgb(44, 77, 82),#A0CAD1); 
    height: 101px;
    width: 100%;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin: auto;
}

.logo {
    width: 200px;
    height: 200px;
}

li:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.NavBar {
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    width: 500px;
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: #342B29;    
}

/* FIM HEADER */


/* INÍCIO INFORMAÇÕES */
.informacoes{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../img/WhoMadeMePag.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
    text-align: center;
    align-items: center;
}

.informacoesContainer{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    height: 270px;
    width: 40%;
    background-color: #a0cad1b7;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}

button{
    border-radius: 30px;
    border-color: indianred;
    background-color: aliceblue;
    color: indianred;
    height: 30px;
    width: 100px;
}
/* FIM INFORMAÇÕES */


/* INÍCIO RODAPÉ */
.rodape{
    width: 100%;
    height:100px;
    display: flex;
    margin: 0%;
    background-color: #A0CAD1;
    justify-content: baseline;
    background-image: linear-gradient(#A0CAD1, rgb(44, 77, 82));
}

.rodapeContainer{
    width: 90%;
    height: 100px;
    margin: auto;
}

.informações{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.contato{
    width: 100px;
    height: 100px;
}
/* FIM RODAPÉ */