body {
    background-attachment: fixed;
    margin: 0;
    background-color: #0b2529;
    width: 100%;
}

/* INÍCIO HEADER */
.header {
    background-color: #A0CAD1;
    Background-image: linear-gradient( rgb(44, 77, 82),#A0CAD1); 
    height: 101px;
    width: 100%;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin: auto;
}

.logo {
    width: 200px;
    height: 200px;
}

li:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.NavBar {
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    width: 500px;
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: #342B29;    
}

/* FIM HEADER */


/* INICIO CADASTRO LIVROS */
.cadastrar{
    width: 95%;
    height: 500px;
    display: flex;
    margin: 30px;
    color: white;
}

.cadastrarContainer{
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.cadastrarLivros{
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    flex-direction: row;
}

.inserirDados{    
    width: 500px;
    height: 500px;
    background-color: #28555c;
    padding-left: 25px;
    border-radius: 30px 0px 0px 30px;
    justify-content: space-around;
}

.imagemDados {
    width: 600px;
    height: 500px;
}

.mostrarDados{
    color: white;
    width: 500px;
    height: 450px;
    background-color: #28555c;
    padding: 25px;
    border-radius: 0px 30px 30px 0px;
    justify-content: space-around;
    font-size: medium;
}

.livros {
    font-size: large;
}

.cadastrarLivros input{
    border-radius: 30px;
    border: none;
    font-size: larger;
    margin: 8px;
}

.cadastrarLivros span{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 25px;
}

button{
    border-radius: 30px;
    border-color: indianred;
    background-color: aliceblue;
    color: indianred;
    height: 50px;
    width: 150px;
    margin-left: 40px;
}
/* FIM CADASTRO LIVROS */


/* INICIO DASHBOARDS */
.graficos{
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dash{
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: white;
    font-size: larger;
    text-align: center;
}

.myChart {
    height: 200px;
}
/* FIM DASHBOARDS */


/* INÍCIO RODAPÉ */
.rodape{
    width: 100%;
    height:100px;
    display: flex;
    margin: 0%;
    background-color: #A0CAD1;
    justify-content: baseline;
    background-image: linear-gradient(#A0CAD1, rgb(44, 77, 82));
}

.rodapeContainer{
    width: 90%;
    height: 100px;
    margin: auto;
}

.informações{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.contato{
    width: 100px;
    height: 100px;
}
/* FIM RODAPÉ */